@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --nav-span: 2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  overflow: hidden;
  height: 100%;
  background-image: url("/grey scale table 2.png");
}

.RootGrid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "nav display"
  "nav footer"
  ;
  width: 95%;
  height: 100%;
  margin-left: auto;
  padding-top: 2vh;
  column-gap: 5px;
  row-gap: 5px;
}

.Display {
  grid-area: display;
  text-align: center;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: black;
}

.Nav {
  grid-area: nav;
  max-width: max-content;
}

.Nav > * {
  text-align: start;
}

.Footer {
  grid-area: footer;
}

.Paper {
  font-family: "Merienda";;
  background-color: rgb(246, 243, 232);
  border-radius: 5px;
}

form {
  width: 55%;
  margin: auto;

  & label {
    text-align: left;
    display: block;
  }

  & input {
    width: 100%;
    display: block;
    color: black;
  }

  & textarea {
    width: 100%;
    display: block;
    color: black;
  }
}